[package]
name = "test_app"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "test_app"
path = "src/main.rs"
test = false
bench = false

[dependencies]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
opt-level = "z"
lto = true

